<!DOCTYPE html>
<html>
<head>
<title>Varma's Car Rentals</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
<h1>Varma's Car Rentals</h1>
<h2>Your journey starts with us!</h2>
<h3>Rent Drive Enjoy</h3>
</header>

<section class="cars">

<h2>Available Cars</h2>

<div class="car-container">

<div class="car">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpY01OFStK77wxX8pGaQU5Pvs4Rz0cT_BI9g&s">
<h3>Hyundai i20 asta(Sunroof)</h3>
<p>₹1999 / Day</p>
<a href="https://wa.me/918309996908?text=Hello%20I%20want%20to%20book%20Hyundai%20i20%20Asta%20(Sunroof)" target="_blank">
<button>Book Now</button>
</a>


</div>
<div class="car">
<img src="https://etimg.etb2bimg.com/photo/83199264.cms">
<h3>Volkswagen Polo</h3>
<p>₹1999 / Day</p>
<a href="https://wa.me/918309996908?text=Hello%20I%20want%20to%20book%20Volkswagen%20Polo" target="_blank">
<button>Book Now</button>
</a>
</div>

<div class="car">
<img src="https://imgd.aeplcdn.com/664x374/n/cw/ec/159099/swift-exterior-right-front-three-quarter.jpeg">
<h3>Maruti Swift</h3>
<p>₹1799 / Day</p>
<a href="https://wa.me/918309996908?text=Hello%20I%20want%20to%20book%20Maruti%20Swift" target="_blank">
<button>Book Now</button>
</a>
</div>

<div class="car">
<img src="https://m.economictimes.com/thumb/msid-118134449,width-1200,height-900,resizemode-4,imgsize-65046/baleno.jpg">
<h3>Baleno</h3>
<p>₹1799 / Day</p>
<a href="https://wa.me/918309996908?text=Hello%20I%20want%20to%20book%20Baleno" target="_blank">
<button>Book Now</button>
</a>
</div>

<div class="car">
<img src="https://htcms-prod-images.s3.ap-south-1.amazonaws.com/htmobile1/marutisuzuki_ertiga/images/colour_marutisuzuki-ertiga_pearl-metallic-arctic-white_600x400.jpg">
<h3>Ertiga (7 Seater)</h3>
<p>₹2799 / Day</p>
<a href="https://wa.me/918309996908?text=Hello%20I%20want%20to%20book%20Ertiga%20(7%20Seater)" target="_blank">
<button>Book Now</button>
</a>
</div>

</div>


</section>

<section class="contact">
<h2>Contact Us</h2>
<p>📞 8309996908</p>
<p>📞 8341314560</p>
<p>📍 <a href="https://maps.app.goo.gl/jfBbG44hfLYj6jfSA" target="_blank">
View Location
</a></p>
</section>

</body>
</html>
